.navbar {
  font-size: 35px;
  margin: 15px;
  background-color: #c88264;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
}
.navbar-font-size {
  font-size: 40px;
}
.text-center {
  background-color: #c88264;
  font-size: 20px;
  color: black;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  text-decoration: underline !important;
}
.d-inline-block {
  margin-left: 10px;
}
