.navbar {
  font-size: 35px;
  margin: 15px;
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  color: white;
}
.navbar-font-size {
  font-size: 40px;
}
.text-center {
  background-color: black;
  font-size: 20px;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  text-decoration: underline !important;
}
.d-inline-block {
  margin-left: 10px;
}
/* App.css */

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: black; /* Dropdown içerisindeki item metin rengini düzenlemek için */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: black; /* Dropdown içerisindeki item hover durumunda metin rengini düzenlemek için */
}
.navbar-text {
  color: white;
}
.nav-item a{
  color: white;
}





